<h1>Editing System Admin Black List</h1>

<%= render 'form', system_admin_black_list: @system_admin_black_list %>

<%= link_to 'Show', @system_admin_black_list %> |
<%= link_to 'Back', system_admin_black_lists_path %>
