
<!DOCTYPE html>
<html>
<head>

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script type="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
 <script type="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<title>Navigation Bar</title>
<body>  
  



<div class="row" style="margin-top: 100px">
    <div class="col-md">
    <h1>Hello You!</h1>
    </div>
</div>
<div class = "row">
  
    <dir class="col-md-1">

    </dir>

    <dir class="col-md-7">
      <div class="row" style="margin-left: 0px">
        <div class="col-md-8"></div>
        <div class="col-md-4" >
          <select class="browser-default custom-select">
            <option value="1">Newest</option>
            <option value="2">Trendding tropic</option>
            <option value="3">Oldest</option>
          </select>
        </div>
      </div>
      <hr />
      <% @posts.each do |p| %>

        <h2><%= link_to p.title, p%></h2>
        <p><%= p.description %></p>
        <p><%= link_to "Edit", edit_post_path(p) %></p>
        <p><%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' } %></p>

        <hr />
      <% end %>
    </dir>
</div>



</body>
</html>
