<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<%= form_for(:report, url: report_path) do |f| %>	
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
<div class="container" style="background-color: #f8f9fa">
<h1>Report</h1>
	
<div class="input-group mb-3">
	        <%= f.text_area :description, class: 'form-control', placeholder: "What do you want to report about this post?" %>
</div>

<a href="http://localhost:3000" class="btn btn-outline-light active">Report</a>
</div>
</div>
<% end -%>
<div class="col-md-4"></div>
</div>
</body>
</html>