
<!DOCTYPE html>
<html>
<head>

</head>
<title>Navigation Bar</title>
<body>  
  



<div class="row" style="margin-top: 100px">
    <div class="col-md">
    <h1>Hi!</h1>
    </div>
</div>
<div class = "row">
  
    <dir class="col-md-1">

    </dir>

    <dir class="col-md-7">
      <div class="row" style="margin-left: 0px">
        <div class="col-md-8"></div>
        <div class="col-md-4" >
          <select class="browser-default custom-select">
            <option value="1">Newest</option>
            <option value="2">Trendding tropic</option>
            <option value="3">Oldest</option>
          </select>
        </div>
      </div>
      <hr />



    </dir>
</div>



</body>
</html>
