
<!DOCTYPE html>
<html>
<head>

</head>
<title></title>
<body>  
  
<div class = "row">
  
    <div class="col-md-2" ></div>
    <div class="col-md-8">
      <div class="row" style="margin-left: 0px">
        <div class="col-md-8"></div>
        <div class="col-md-4" >
          <select class="browser-default custom-select">
            <option value="1">Newest</option>
            <option value="2">Trendding tropic</option>
            <option value="3">Oldest</option>
          </select>
        </div>
      </div>
      <hr />
    </div>
    <div class="col-md-2" ></div>
</div>



</body>
</html>
