	<!DOCTYPE html>
</head>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script type="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
 <script type="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<html>

<head>
	<title>Navigation Bar</title>
  	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<body>
<div class="row" style="margin-top: 100px">   
</div>
<div class = "col-md-14 offset-1">
	
        <h1 style="background-color:#fff ">My wall</h1>  
</div>
<div class="container offset-1" style="background-color:#f8f9fa">


        <div class="col-md-14 ">
        
        <div class="row">
        

        <h2 class = " btn btn-outline-light active" style = "font-size:30px" >Que dia para comerse un completo!</h2>
          
          
        </div>
        
        <div class="row">
        <div class = "btn btn-outline-light active">Hoy, 10 de mayo del 2019, a las 4:50AM, sigo pensando en el completo que me mande en el almuerzo.</div>
        </div>

        <div class="row">
          <div class = "btn btn-outline-light active"> author 4 </div>
        </div>
        
        <!-- wea 1-->
        <div class="row">
          
        <div class="col-md-8">
          
        
        <div class = "row" >
          <div class="btn btn-outline-light active ">
            2019-05-05 06:17:03 UTC    
          </div>  
        </div>
        <div class="row">
          
          <div class = "btn btn-outline-light active"> Solved</div>
        </div>

        </div class = "col-md-8">

        <div style="margin-left:0px">
          <button class="btn"></button>
          <button class="btn"></button>

          <button class = "btn btn-outline-light" style='font-size:25px;color:black'>Share</button>
          <button class = "btn btn dark" style='font-size:25px;color:black'>99 <i class='fas fa-check' style='font-size:25px;color:black'></i></button>
          <button class = "btn btn dark" style='font-size:25px;color:black'>99 <i class='fas fa-times' style='font-size:25px;color:black'></i></button>
		</div>
		<div class = " btn btn-outline-light active"><%= link_to 'Edit ', edit_post_path(p) %></div>
          
         <div class = " btn btn-outline-light active"><%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' } %></div>
         <hr/>
</body>

</html>